/svg/
/.vscode/
/css/_fonts.css/
/css/_variables.css/
/css/mix.css/
/css/_header.css/
/css/_navigation.css/
/css/_button.css/
/css/_product.css/
/css/_form.css/
/css/_footer.css/
/css/_servic.css/
/css/_ability.css/
/css/_main.css/
/css/_food.css/
/css/_cakes.css/
/css/_progress.css/
/css/_test.css/
/css/_view.css/
/css/_review.css/
/css/_pagination.css/
/css/_blog.css/
/css/_content.css/
/css/_partners.css/
/css/_contact.css/
/css/_social.css/
/css/_links.css/
